* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#bgCarousel {
    position: relative;
    z-index: 1;
}
.navbar-container {
    position: absolute;
    width: 100%;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    z-index: 1000; 
}

.child1 {
    display: flex;
    align-items: center;
    gap: 15px;
}

.child1 h3 {
    font-size: 40px;
}
.child1 p {
    margin: 0;
    font-size: 15px;
}

.child2 {
    list-style: none;
    display: flex;
    margin-right:10%;
    gap: 50px;
    font-size: 20px;
}

.child2 li {
    cursor: pointer;
}
 .overlay{
    position: absolute;
    right: 0;
    width: 66%;
    height: 100%;
    background: rgba(0, 0, 0, 0.45);
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
    z-index: 5;
 }
 .child2 li a{
    text-decoration-line: none;
    color: white;
}
.child2 li a:hover{
     color:rgb(148, 203, 247);
}
#check{
    display:none;
}
.menu-btn i{
    display:none;
}
 .content,.content1,.content2{
    position:absolute;
    top:15%;
    left: 55%;
    right: 70px;
    color:white;
    z-index: 10;
    display: flex;
    justify-content: space-evenly;
    gap:50px;
}
.content1{
  top:40%;
}
.content2{
    top:65%;
}
#bgCarousel,
#bgCarousel .carousel-item {
    height: 150vh;       
    min-height: 100vh;   
}
#bgCarousel .carousel-item img {
    height: 100%;       
    width: 100%;
    object-fit: cover;
    display: block;
}
button{
    height: 40px;
    width:120px;
}
.content hr {
    border-color: white;
    border-width: 3px;
}
.footer{
    position:absolute;
    top:95%;
    left: 70%;
    color:white;
    z-index: 10;
}

#bgCarousel .carousel-indicators {
    position: absolute;
    bottom: 5%;
    right: 65%;   
    left: auto;
    display: flex;
    gap: 18px;
    z-index: 20;
    pointer-events: auto; 
}

#bgCarousel .carousel-indicators button {
    width: 16px;
    height: 16px;
    background: #ffffff !important;     
    opacity: 0.4 !important;
    border: none !important;
    border-radius: 0 !important;        
    padding: 0 !important;
    margin: 0 !important;
    box-shadow: none !important;
}
#bgCarousel .carousel-indicators .active {
    opacity: 1 !important;
}
#bgCarousel .carousel-indicators button {
    display: block;
}
@media screen and (max-width: 1050px) {
    .content, .content1, .content2 {
        display: block;
        top:10%;        
        left: 55%;             
        right: 8%;
    }
    .content1{
  top:35%;
}
.content2{
    top:60%;
}
#bgCarousel,
#bgCarousel .carousel-item {
    height: 200vh;       
    min-height: 150vh;   
}

#bgCarousel .carousel-item img {
    height: 100%;        
    width: 100%;
    object-fit: cover;
    display: block;
}
#bgCarousel .carousel-indicators{
    bottom: 80px;
 }
 .footer{
    left: 630px;
 }

}
@media screen and (max-width: 950px){
      .content, .content1, .content2 {
        display: flex;
        top:10%;         
        left: 55%;               
        right: 8%;
    }
    .content1{
  top:35%;
}
.content2{
    top:60%;
}
}

@media screen and (max-width: 995px) {

    .menu-btn i {
        display: block;
        font-size: 26px;
        padding: 12px 18px;
        background: #555;
        color: white;
        clip-path: polygon(20% 0%, 100% 0%, 80% 100%, 0% 100%);
        z-index:1500;
    }

    .carousel-item img {
        height: 150vh;
    }

    .child2 {
        position: absolute;
        top: 90px;
        right: 10px;
        width: 150px;
        background: rgba(0, 0, 0, 0.9);
        display: none;
        flex-direction: column;
        text-align: center;
        padding: 10px 0;
        z-index: 999;
    }
    .child2 li a {
        color: white;
        font-size: 18px;
    }
   .child2 li:first-child {
        background: rgba(255, 255, 255, 0.15);
    }
    .child2 li:first-child a {
        color: #8fe3ff;
    }
    #check {
        display: none;
    }

    #check:checked ~ .child2 {
        display: flex;
    }
    .carousel-item img {
        min-height: 160vh;
    }
    
}
@media screen and (max-width: 900px){
    #bgCarousel,
#bgCarousel .carousel-item {
    height: 230vh;       
    min-height: 150vh;   
}
#bgCarousel .carousel-item img {
    height: 100%;        
    width: 100%;
    object-fit: cover;
    display: block;
}
}
@media screen and (max-width: 750px) {
    
    .overlay {
        display: block;
        width: 100%;
        clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
    }
     .content, .content1, .content2{
        left: 8%;
        right: 8%;
        top: 20%;
        display:flex;
    }
    .content1{
  top:43%;
}
.content2{
    top:65%;
}
 #bgCarousel .carousel-indicators{
    bottom: 100px;
   right:180px;
 }
 .footer{
    left: 200px;
 }
}